@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-style: normal;
}
body {
  background-color: #e7f6ff;
}
.container {
  width: 90%;
  max-width: 1280px;
  margin: auto;
  background: #ffffff;
}
.container-shadow {
  box-shadow: 10px 0px 10px rgba(0, 0, 0, 0.04);
  border-radius: 20px 20px 0px 0px;
}
.header {
  display: flex;
  margin-top: 50px;
}
.header-stuff {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
}
.logo-heading {
  color: #000000;
  display: block;
  font-size: 20px;
}
.heading-grey {
  width: 189px;
  font-size: 14px;
  color: #9d9d9d;
}
.logo-img {
  margin-left: 45px;
  margin-right: 16px;
}
.header-logo {
  display: flex;
  align-items: center;
}
.header-links {
  display: flex;
  align-items: center;
}
.logo-profile {
  margin-right: 50px;
  margin-left: 30px;
  width: 24px;
  height: 24px;
}
.logo-basket {
  width: 24px;
  height: 24px;
}
.logo-fav {
  margin-left: 30px;
  width: 24px;
  height: 24px;
}
.total-price {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 17px;
  color: #5c5c5c;
  margin-left: 10px;
}
.grey-line {
  width: 100%;
  border: 1px solid #eaeaea;
}
.stan-swiper {
  max-width: 1080px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  background: #f4efe9;
  border-radius: 20px;
}
.stan-text {
  border-radius: 20px;
}
.adidas-logo {
  padding-left: 20px;
  padding-top: 15px;
}
.stan-smith {
  padding-top: 50px;
  padding-bottom: 40px;
}
.stan-text__green {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #8bb43c;
  display: block;
}
.stan-text__black {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  color: #000;
  display: block;
}
.adidas-logo {
  display: block;
}
.stan-smith--text {
  display: flex;
}
.smith-text {
  padding-top: 35px;
  padding-left: 60px;
  padding-bottom: 30px;
}
.btn-buy {
  width: 200px;
  height: 50px;
  margin-left: 60px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  background-color: #8bb43c;
  color: #ffffff;
  background: #a5d364;
  border-radius: 110px;
}
.sneakers-head {
  display: flex;
  justify-content: space-between;
  padding-left: 100px;
  padding-right: 100px;
}
.all-sneakers {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 39px;
  color: #000000;
}
.sneakers-search {
  background-image: url(../img/find.svg);
  background-repeat: no-repeat;
  background-position: center left;
  padding-left: 30px;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  outline: none;
}
.sneakers-wrapper {
  display: flex;
  justify-content: space-around;
}
.sneakers-card {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid #f3f3f3;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow: 0 0 2em 0 rgb(0 0 0 / 20%);
}
.sneakers-col {
  display: flex;
  flex-direction: column;
  padding: 15px 10px 20px 10px;
}
.img--like {
  padding-top: 8px;
  padding-left: 8px;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #f8f8f8;
  box-sizing: border-box;
  border-radius: 7px;
}
.img--liked {
  padding-top: 8px;
  padding-left: 7px;
  position: absolute;
  width: 32px;
  height: 32px;
  background: #fef0f0;
  border-radius: 7px;
}
.sneakers-img {
  margin-top: 20px;
  width: 140px;
  height: 120px;
}
.sneakers-wrapper {
  margin: 40px 100px 40px 100px;
}
.sneakers-name {
  padding-top: 15px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  max-width: 170px;
}
.sneakers-price {
  padding-top: 14px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #bdbdbd;
}
.sneakers-price__bold {
  display: flex;
  font-family: Inter;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.sneakers-add {
  display: flex;
  width: 32px;
  height: 32px;
  background: #ffffff;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  border-radius: 8px;
  margin-left: 25px;
  margin-top: -10px;
}
.sneakers-final {
  display: flex;
}
.btn-plus {
  cursor: pointer;
}
.btn-yes {
  cursor: pointer;
  background: linear-gradient(180deg, #89f09c 0%, #3cc755 100%);
  border-radius: 8px;
}
